<a href="https://colab.research.google.com/github/Danielle-Aguado/CPEN-21A-CPE-1-1/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introduction to Python Programming

###Naming of variable

In [ ]:
a, b, c,= 0, 1, 2
print(a)
print(b)
print(c)

0
1
2

In [11]:
print (type(a))

<class 'int'>

In [ ]:
a = 3
float(a)

3.0

In [6]:
f = a
print(f)

3

In [9]:
g = "Good morning"
print(g)

Good morning

###One Value to Multiple Variable

In [ ]:
x = y = z ="four"
print(x)
print(y)
print(z)

four
four
four

In [ ]:
x = "enjoying"
print("Programming is " + x)

Programming is enjoying

In [10]:
e = "many uses"
print("Programming have " + e)

Programming have many uses

In [12]:
x = 4
y = 5
print(x + y)
print(x - y)

9
-1

In [14]:
x>y and x == x

False

In [ ]:
x = 3
y = 5
sum = x + y
print(sum)

8

In [ ]:
x<y and x == x    #This is an example of programming

True

In [13]:
not(x<y and x == x)

False