<a href="https://colab.research.google.com/github/Danielle-Aguado/CPEN-21A-CPE-1-1/blob/main/Expressions_and_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Boolean Operators
###Boolean represent one of two values: True or False

In [2]:
print(10>9)
print(10<9)
print(10==9)
print(10!=9)

True
False
False
True

In [8]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))
print(bool([]))
print(bool(None))

True
False
True
False
False
False

In [10]:
def myFunction():return False
print(myFunction())

False

In [41]:
#Boolean answer of a function 
def myFunction(): return False

if myFunction(): 
  print("Yes!")
else:
    print("No!")

No!

In [18]:
a = 6
b = 7
print(a==b)
print(a!=a)
print(a<b)
print(a>b)

False
False
True
False

In [15]:
print(10>9)

True

##Python Operators

In [23]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10//5) #floor division
print(10//3) #floor division
print(10/3) #quotient
print(10%3) #modulo
print(10**2) #concatenation

15
5
50
2.0
2
3
3.3333333333333335
1
100

In [32]:
a = 60  #0011 1100 , 0111 1000 ,1111 0000
b = 13
print(a&b)
print(a|b)
print(a<<1)
print(a<<2)
print(a>>1) #0011 1100 , 0001 1110

12
61
120
240
30

In [33]:
a+=2 #same as a = a + 2, a = 60 + 2, a=62
print(a)

62

#Logical Operator

In [35]:
a = True
b = False
print(a and b)
print(a or b)

False
True

In [51]:
a = 60
b = 13

(a>b) and (a<b)
(a>b) or (a<b)
not(a>b)

False

#Identity Operator

In [52]:
print(a is b)
print(a is not b)

False
True