<a href="https://colab.research.google.com/github/Danielle-Aguado/CPEN-21A-CPE-1-1/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##For Loop Statement

In [2]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

The break statement

In [4]:
#Example 2
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [6]:
#Example 3
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a String

In [7]:
#Example 4
for x in "week":
  print(x)

w
e
e
k

The range() Function

In [11]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [12]:
for x in range(2,6):
  print(x)

2
3
4
5

Nested Loops

In [13]:
adjective = ["red","big","tasty"]
fruits = ["apple","banana","cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

##While loop Statement

In [14]:
i = 1
while i<6:
  print(i)
  i += 1 #i = i+1 Assignment operator

1
2
3
4
5

In [16]:
#The break statement
i=1
while i<6:
  print(i)
  if i==3:
    break
  i+=1 #Assignment operator for addition

1
2
3

In [17]:
i = 1
while i<6:
  i+=1 #Assignment operator for addition
  if i==3:
    continue
  print(i)

2
4
5
6

Else statement

In [18]:
i=1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

###Application 1
Create a python program

In [21]:
hello = ["Hello 0","Hello 1","Hello 2","Hello 3","Hello 4","Hello 5","Hello 6","Hello 7","Hello 8","Hello 9", "Hello 10"]
for x in hello:
  print(x)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

###Application 2

In [55]:
for x in range(3,10):
  print(x)

3
4
5
6
7
8
9

or

In [64]:
a = 3
while a<10:
  print(a)
  a+=1

3
4
5
6
7
8
9

or

In [60]:
integers = ["3","4","5","6","7","8","9"]
for x in integers:
  print(x)

3
4
5
6
7
8
9